 body{
    background-color: var(--background-black);
 }
 /*styling case study intro*/

 .top-container-project{
    width:100%;
    color: var(--white);
}
a{
    color:var(--white);
}

/*custom background*/
#amazontitle{
    background-image: url("img/amazoncover.png");
    background-size: 110%;
    background-position: right 35% bottom 15%; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
}
#mcdonaldstitle{
    background-image: url("img/mcdonaldstitle.png");
    background-size: 100%;
    background-position: right 35% bottom 15%; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
}
#canseratitle{
    background-image: url("img/cansera.png");
    background-size: 100%;
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
}
nav{
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}
.casestudy-intro{
    max-width:1200px;
    margin:auto;
    padding:100px 20px 100px 20px;
}
.casestudy-intro-left{
    width:35%;
}

 /*styling project details*/
.project-detail-banner{
    padding:50px 20px 50px 20px;
    background-color: var(--accent-black);
    color: var(--white);
}
.project-detail-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap:10px;
    width:960px;
    margin:auto;
}
.detail-title{
    font-weight: bold;
}

 /*styling case study frames*/
.case-study{
    background-color: var(--background-black);
    color:var(--white);
}
.case-study h2{
    color:var(--white);
}
.case-study-frame{
    padding:100px 120px 0px 120px;
}
.bottom-case-study-frame{
    padding:100px 120px 100px 120px;
    border-bottom:1px var(--white) solid;
}
.case-study-frame-2{
    padding:100px 120px 0px 120px;
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
}
.case-study-frame-2-bottom{
    padding:100px 120px 100px 120px;
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
    border-bottom:1px var(--white) solid;
}
 /*styling case study sub 2 grid sub boxes*/
 .case-study-2-frames, .case-study-2-frames-images{
    margin-top:50px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
 }
 .case-study-3-frames{
    margin-top:50px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
 }
 .frame-2{
    background-color: var(--accent-black);
    padding:30px;
    margin-bottom: 20px;
 }
 .frame-4{
    background-color: var(--accent-black);
    padding:30px;
 }

 /* styling quotes*/
 .quote-box{
    margin-top:50px;
    padding: 50px 60px 50px 60px;
    background-color: var(--accent-black);
    display: inline-block;
 }

blockquote{
    font-family: EB Garamond;
    font-style:italic;
    line-height:1.6;
    position: relative;
    font-size: 32px;
    font-weight: 500;
  }
  
  blockquote::before{
    font-family: EB Garamond;
    content: "\201C";
    color:var(--white);
    font-size:3.5em;
    position: absolute;
    left: -60px;
    top:-80px;
  }
  
  blockquote::after{
    content: '';
  }
  
  blockquote span{
    display:block;
    font-style: normal;
    margin-top:1em;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 13px;
    font-weight: 400;
    text-transform: uppercase;
  }

 /*styling images*/
 .large-image{
    position:relative;
    margin:auto;
    width:80%;
    padding:40px 20px 0px 20px;
 }

 .left-image, .right-image{
    width:80%;
    margin:auto;
}

 /*framing video*/
 .frame-phone-video{
    display: block; 
    width:275px; 
    height:600px; 
    border-radius: 44px;
    overflow: hidden;
    position:relative;
    left:20%;
 }

 /*QR-code*/
.qr-block{
    display:inline-block;
    height: 100%;
}
#qr-prototype{
    position: relative;
    top: 50%;
    left:30%;
    transform: translateY(-50%);
}
.button:hover{
    opacity:75%;
    transition: opacity ease 0.3s;
}

/*CREATING SPEECH BUBBLES*/
.message-frame{
    width:400px;
}
.speech-bubble-left, .speech-bubble-right{
	position: relative;
	border-radius: .4em;
    width: fit-content;
    margin-bottom:20px;
}
.speech-bubble-left{
	background: var(--accent-black);
    left:0px;
}
.speech-bubble-right{
	background: var(--white);
    color:var(--background-black);
    left:20%;
    transition-delay: .8s;
}
.speech-bubble-left:after {
	content: '';
	position: absolute;
	bottom: 0;
	left: 10%;
	width: 0;
	height: 0;
	border: 20px solid transparent;
	border-top-color: var(--accent-black);
	border-bottom: 0;
	border-left: 0;
	margin-left: 0px;
	margin-bottom: -20px;
}

.speech-bubble-right:after {
	content: '';
	position: absolute;
	bottom: 0;
	right: 10%;
	width: 0;
	height: 0;
	border: 20px solid transparent;
	border-top-color: var(--white);
	border-bottom: 0;
	border-right: 0;
	margin-right: 0px;
	margin-bottom: -20px;
}
.speech-bubble-content{
    padding:10px;
}

@media screen and (max-width: 1000px){
    /*framing video*/
    .frame-phone-video{
        display: block; 
        width:286px; 
        height:500; 
        border-radius: 44px;
        overflow: hidden;
        position:relative;
        margin:auto;
        left:0%;
    }

    /*QR-code*/
    .qr-block{
        display:inline-block;
        padding-top:40px;
        margin:auto;
        height: 100%;
    }
    #qr-prototype{
        position: relative;
        top: 50%;
        left:0%;
        transform: translateY(-50%);
    }
}
     /*this collapses everything to one column at 990px*/
     @media screen and (max-width: 975px) {
         /*styling intro*/
         .casestudy-intro-left{
            padding-bottom:10px;
        }
        /*project details*/
        .project-detail-container{
            width:100%;
            grid-template-columns: repeat(2, 1fr);
            gap: 5px;
        }
        .project-details{
            width:80%;
        }
        .project-detail-banner{
            margin-bottom:40px;
        }
        nav{
            margin: 0 auto;
            padding: 20px;
        }
        .casestudy-intro{
            padding:0px 20px 0px 20px;
        }
        .casestudy-intro-left{
            width:85%;
        }
         /*title background photos*/
         #amazontitle{
            background-image:  linear-gradient( hsl(184, 67%, 55%), hsl(235, 100%, 73%) );
            background-position: center; /* Center the image */
            background-repeat: no-repeat; /* Do not repeat the image */
        }
        #mcdonaldstitle{
            background-image:  linear-gradient( #722337, #9A3344,#A93946,#D26B33, #DA9E48 );
            background-position: center; /* Center the image */
            background-repeat: no-repeat; /* Do not repeat the image */
        }
     }

    /*this collapses everything to one column at 900px*/
    @media screen and (max-width: 950px) {
        /*styling case study frames*/
        .case-study-frame, .bottom-case-study-frame{
            padding:0px 0px 40px 0px;
            margin-bottom:40px;
        }
        .case-study-frame-2{
            padding:0px 0px 40px 0px;
            width: 100%;
            margin-bottom: 1.3 em20px;
            grid-template-columns: repeat(1, 1fr);
            gap: 0px;
        }
        .case-study-2-frames, .case-study-3-frames{
            grid-template-columns: repeat(1, 1fr);
            gap: 0px;
        }
        .case-study-frame-2-bottom{
            padding:0px 0px 40px 0px;
            margin-bottom:40px;
            grid-template-columns: repeat(1, 1fr);
            gap: 0px;
        }
        .frame-4{
            margin-bottom: 20px;
        }
        

        .image-grid {
            display: grid;
            grid-template-columns: repeat(1, 1fr);
            gap: 20px;
            padding-top:10px;
         }
        
        .display{
            font-size:32px;
        }
        /* styling quotes*/
        .quote-box{
            margin-top:30px;
            padding: 30px 20px 30px 20px;
        }
        
        blockquote::before{
            font-size:3em;
            left: -50px;
            top:-60px;
        }
        /*styling images*/
        .large-image{
            position:relative;
            margin:auto;
            width:100%;
            padding:40px 5px 0px 5px;
        }
    }

     /*this collapses everything to one column at 768px*/
     @media screen and (max-width: 500px) {
        /*styling side by side images*/
        .case-study-2-frames-images{
            grid-template-columns: repeat(1, 1fr);
            gap: 0px;
        }
        .left-image, .right-image{
            width:100%;
        }
        .right-image{
            padding:40px 5px 0px 5px;
        }
     }