
        body {
            /*trust the system ui fonts that are the default font of the operation system 0*/
            font-family: system-ui, sans-serif;
            /*this creates distance between copy lines like in Google docs*/
            line-height: 1.6;
            margin: 0;
            padding: 0;
        }
        .container {
            /*It's wide enough to accommodate complex layouts on desktop screens while not being so wide that it looks empty or sparse on larger monitors.*/
            max-width: 1200px;
            /*sets the top and bottom margins of an element to 0 and centers it horizontally within its parent element.*/
            margin: 0 auto;
            padding: 20px;
        }
        .top-half {
            /* This It creates a flex formatting context for its contents. Child elements become flex items.
It allows for powerful alignment and distribution of space among items in a container, even when their size is unknown or dynamic.*/
            display: flex;  
            /* Evenly distributes the flex items along the main axis.
The first item is flush with the start edge of the container, and the last item is flush with the end edge.
All remaining space is evenly distributed between the items.*/
            justify-content: space-between;
            margin-bottom: 40px;
        }
        
        .top-container {
            /* notice this is as close to half giving a bit of space between copy and photo*/
            width: 48%;
        }
        .top-container-project{
            width:100%;
        }
        .bottom-half {
            display: flex;
            justify-content: space-between;
        }
        .bottom-container {
            /* the bottom containers also get a bit more spacing between them*/
            width: 30%;
        }
        img {
            /*this translates to make the photo the size of the container and adjust the height accordingly*/
            max-width: 100%;
            height: auto;
        }
        nav {
            margin-bottom: 20px;
        }
        nav a {
            margin-right: 10px;
            text-decoration: none;
            color: #333;
        }

        /*this allows us to make social media links icons that change color on hover*/
        .social-icon {
            font-size: 24px;
            transition: color 0.3s ease;
        }
        .instagram-icon {
            color: #333;
        }
        .instagram-icon:hover {
            color: #833AB4;
        }
        .linkedin-icon {
            color: #333;
        }
        .linkedin-icon:hover {
            color: #00A0DC;
        }

        h1, h2 {
            color: #333;
        }
        ul {
            padding-left: 20px;
            margin: 0;
        }

          ul.dashed {
            list-style-type: none;
          }

          /*the styling here replaces bullets with dashes*/
          ul.dashed > li {
            text-indent: -5px;
          }
          ul.dashed > li:before {
            content: "✿ ";
            text-indent: -5px;
          }

         /*the styling here is for the image grid*/
         .image-grid {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 20px;
            padding-top:10px;
         }

         .image-item {
            position: relative;
        }

         .image-item img {
            width: 100%;
            height: 400px;
            /*preserves the original aspect ratio, but the image occupies all the available space*/
            object-fit: cover;
            /*where you want the image to be positioned*/
            object-position: top;
            display: block;
            opacity:1;
            z-index: 1;
          }

          .image-item img:hover {
            opacity:40%;
            transition: opacity 0.3s ease; 
          }
    
        .image-item p{
           color:#333;
            font-size: xx-large;
            /*position tells us they want us to be absolute in the top position relative to where the copy lives on the image*/
            position: absolute;
            top:40%;
            left: 10%;
            opacity: 1; /* Show by default */
            z-index: -1;
        }

        footer {
            text-align: center;
            margin-top: 40px;
            padding: 20px;
            background-color: #f4f4f4;
        }

        /*styling project details*/
        .project-detail-banner{
            padding:50px 50px 50px 50px;
            background-color: #292F30;
            color: #f4f4f4;
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            gap: 10px;
        }
        .project-details{
            padding:16px 64px 16px 64px;
            /*border:#ed0b0b 1px solid;*/
            width:30%;
        }
        .detail-title{
            font-weight: bold;
        }

        /*styling case study frames*/
        .case-study{
            background-color: #14191A;
            color:#f4f4f4
        }
        .case-study h2{
            color:#f4f4f4;
        }
        .case-study-frame{
            padding:100px 120px 0px 120px;
        }
        .bottom-case-study-frame{
            padding:100px 120px 100px 120px;
        }
        .case-study-frame-2{
            padding:100px 120px 0px 120px;
            margin-top: 50px;
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 30px;
        }
         /*styling case study sub 2 grid sub boxes*/
         .case-study-2-frames{
            margin-top:50px;
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 10px;
         }
         .frame-2{
            background-color: #292F30;
            padding:30px;
            margin-bottom: 20px;
         }

         /* styling quotes*/
         .quote-box{
            margin-top:50px;
            padding: 50px 60px 50px 60px;
            background-color: #292F30;
         }

        /*this collapses everything to one column at 768px*/
        @media screen and (max-width: 768px) {
            .top-container,
            .bottom-container {
                width: 100%;
                margin-bottom: 20px;
            }
            .top-half,
            .bottom-half {
                flex-direction: column;
            }
            nav {
                display: flex;
                flex-direction: column;
                align-items: center;
            }
            nav a {
                margin: 5px 0;
            }

            /*styling case study frames*/
            .case-study-frame{
                padding:50px 0px 50px 0px;
            }
            /*project details*/
            .project-detail-banner{
                grid-template-columns: repeat(2, 1fr);
                gap: 5px;
            }
            .project-details{
                width:80%;
            }


        }