body{
    background:#ffffff;
    font-family: Inter, sans-serif;
    font-size: 12px;
}
h1{
    font-family: "Alfa Slab One", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 24px;
}

.alfaslabone{
        font-family: "Alfa Slab One", serif;
        font-weight: 400;
        font-style: normal;
        font-size: 24px;
}

button{
    font-size:12px;
    color:black;
    padding:0px;
}

/*MENU*/
#menu{
    width:100%;
    box-shadow: 0px 4px 2px -2px rgb(0 0 0 / 10%);
}
#menu-container{
    max-width:40%;
    margin:auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
#menu-container div{
    display: flex;
    align-items: center;
    justify-content: center;
}
.icon{
    border:none;
    background-color: white;
    height:42px;
    width:42px;
    border-radius: 100px;
    cursor: pointer;
}
.icon:hover{
    background-color: #eaeaea;
    border: 1px #dedede solid;
}
#moves{
    font-weight: bold;
}

/*GAME AREA*/
#container{
    position:relative;
    max-width:40%;
    margin:auto;
    text-align: center;
    padding: 16px 0px 16px 0px;
    position:relative;
}
#gamearea{
    max-width:100%;
    margin-top:16px;
}
.image-grid {
    display: grid;
    grid-template-columns: repeat(4, 4fr);
    gap: 10px;
    margin-top:15px;
    width:100%;
}


/*LETTER SWAP ANIMATIONS*/
.image-item {
    /*position: relative;*/
    border: 1px #dedede solid;
    background-color: #eaeaea;
    border-radius: 10px;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    padding: 22px 22px;
    transform: rotateY(0deg);
    transition: transform 2s ease;
}
.image-item:hover{
    background-color:#b8b8b8;
    border: 1px #dedede solid;
} 
.outerBox{
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    perspective: 1000px; /* Remove this if you don't want the 3D effect */
    color:black;
    background-color:#919191;
    border-radius: 10px;
    font-size: 18px;
    font-weight: 700;
    transform: rotateY(0deg);
}
.flip {
    animation: flipCard .2s ease;
    backface-visibility: hidden;
    transform-style: preserve-3d;
}
   
@keyframes flipCard {
    0% {
        transform: rotateY(0deg);
    }
    100% {
        transform: rotateY(360deg);
    }
}


/*THEME*/
#theme{
    margin:auto;
    max-width:100%;
    border-radius:10px;
    border: 1px rgb(217, 217, 217) solid;
    text-transform: uppercase;
}
.theme-top{
    background-color: rgb(210, 230, 249);
    width:100%;
    border-bottom: 2px rgb(210, 230, 249) solid;
    border-radius:10px 10px 0px 0px;
    padding: 0px 0px 0px 0px;
}
#theme-content{
    padding: 5px 0px 5px 0px;
    margin:2px 20px 2px 20px;
    display:inline-block;
}


/*WORD BANK*/
#wordbank{
    margin-top:12px;
    padding:16px 5px 16px 5px;
    width: 100%;
    border: 1px rgb(217, 217, 217) solid;
    border-radius: 10px;
    text-align: left;
}



/*INSTRUCTIONS CONTENT*/
.instructions-content{
    padding:12px;
    text-align:center;
    margin:auto;
}
#vid{
    max-width: 20px;
}

.background{
    background-color: white;
    opacity:.7;
    position:absolute;
    top:0px;
    height:500px;
    width:100%;
}
#play{
    cursor: pointer;
    background-color: white;
    border: none;
    padding:16px;
    position:absolute;
    right:0px;
    top:0px;
}

/*WIN POPUP*/
.instruction-popup{
    background: #ffffff;
    position:relative;
    top:-65%;
    width:50%;
    box-shadow: 0px -1px 10px 0px rgba(0, 0, 0, 0.25);
    margin:auto;
    padding:24px;
}
.win-popup{
    background: #ffffff;
    position:relative;
    top:-65%;
    width:50%;
    box-shadow: 0px -1px 10px 0px rgba(0, 0, 0, 0.25);
    margin:auto;
    padding:24px;
}
.box{
    display: flex;
    width: 80px;
    height: 80px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    background: #D8D6D6;
    font-size: 16px;
    color: #000;
    font-weight:700;
    margin:auto;
    margin-bottom:24px;
}
#shareButton, #playButton{
    padding: 15px 50px;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    background: #000;
    border:none;
    color: #FFF;
    font-family: Inter, sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    cursor: pointer;
}

#shareButton:hover{
    background: #505050;
}



 /*this collapses everything to one column at 850 px*/
 @media screen and (max-width: 850px) {

    /*MENU*/
    #menu{
        position:relative;
        width:105%;
        left:-10px;
    }
    #menu-container{
        max-width:85%;
        margin:auto;
    }
    #menu-container div{
        display: flex;
        align-items: center;
    }
    .icon{
        float:right;
        cursor: pointer;
    }
    .icon:hover{
        background-color: rgba(88, 89, 88, 0.538);
        transition: all .2s ease;
    }
    #container{
        position:relative;
        max-width:90%;
        margin:auto;
        text-align: center;
        position:relative;
    }
    .tracker{
        /*border: 1px red solid;*/
        padding:8px;
    }

    /*GAME AREA*/
    #gamearea{
        max-width:100%;
        margin-top:16px;
    }
    .image-grid {
        display: grid;
        grid-template-columns: repeat(4, 4fr);
        gap: 10px;
        margin-top:15px;
        width:100%;
    }
    .image-item {
        /*position: relative;*/
        border:none;
        border-radius: 10px;
        font-size: 18px;
        font-weight: 700;
        text-transform: uppercase;
        padding: 22px 22px;
        transform: rotateY(0deg);
        transition: transform 2s ease;
    }
    .outerBox{
        border-radius: 10px;
        font-size: 18px;
        font-weight: 700;
    }


    /*THEME*/
    #theme{
        margin:auto;
        max-width:100%;
        border-radius:10px;
        text-transform: uppercase;
    }
    .theme-top{
        background-color: rgb(210, 230, 249);
        width:100%;
        border-bottom: 2px rgb(210, 230, 249) solid;
        border-radius:10px 10px 0px 0px;
        padding: 0px 0px 0px 0px;
    }

    /*WORD BANK*/
    #wordbank{
        min-height:24px;
        padding:10px 12px 2px 12px;
        width: 93%;
        border-radius: 10px;
    }

    /*INSTRUCTIONS BUTTON*/
    #instructions{
        cursor: pointer;
    }

    /*INSTRUCTIONS CONTENT*/
    .instructions-content{
        padding:20px;
    }

    .instruction-popup{
        position:absolute;
        top:70px;
        left:-2px;
        bottom:0px;
        padding:12px 0px 0px 0px;
        width:100%;
        text-align: center;
        min-height:500px;
    }

    /*WIN POPUP*/
    .win-popup{
        position:absolute;
        top:70px;
        left:-2px;
        bottom:0px;
        padding:12px 0px 0px 0px;
        width:100%;
        text-align: center;
        min-height:500px;
    }

    
}